

@keyframes bgcolor {
    0% {
        background-color:#99BB7D
    }

    30% {
        background-color:#a9a8dd
    }

    60% {
        background-color: #669966
    }

    90% {
        background-color: #da9595
    }

    100% {
        background-color: #7c98b3
    }
    
}

#landing {
    -webkit-animation: bgcolor 100s infinite;
    animation: bgcolor 100s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

#landing-intro {
    margin: 50px;
    color: rgb(255, 255, 255);
}